<!DOCTYPE html>
<html ng-app="cloud">
  <head>
    <title>CloudServer</title>
    <!-- Compiled and minified CSS -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.98.1/css/materialize.min.css">


  <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">

    <link rel='stylesheet' href='/stylesheets/style.css' />
	  <script type="text/javascript" src="https://code.jquery.com/jquery-2.1.1.min.js"></script>
    <!-- Compiled and minified JavaScript -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.98.1/js/materialize.min.js"></script>
	<script src="/bower/angular/angular.min.js"></script>
	<script src="/bower/angular-route/angular-route.min.js"></script>

  </head>
  <body>
	
	  <nav>
		<div class="nav-wrapper">
		  <a href="#" class="brand-logo">CloudServer</a>
		 <!-- <ul id="nav-mobile" class="right hide-on-med-and-down">
			<li><a href="sass.html">Sass</a></li>
			<li><a href="badges.html">Components</a></li>
			<li><a href="collapsible.html">JavaScript</a></li>
		  </ul>-->
		</div>
	  </nav>
	  <ng-view></ng-view>
	  <script src="/javascripts/angular-app.js"></script>
	   <script src="/javascripts/helper.js"></script>
	   <script src="/javascripts/angular-controllers.js"></script>
	    <script src="/javascripts/angular-route.js"></script>
	</body>
  
</html>
