<!DOCTYPE html>
<html>
	<head>
		<title>
			Switch
		</title>
		<script>
			function addCommandToQueue(cmd){
				var xhr = new XMLHttpRequest(),method = "GET",url = "/addCmdToQueue?cmd="+cmd+"&id="+document.getElementsByTagName("select")[0].value;
				xhr.onreadystatechange = function(){
					if(this.readyState == 4 && this.status == 200){
						alert(xhr.responseText);
					}else{
						console.log(xhr.status);
					}
				};
				xhr.open(method,url,true);
				xhr.send();
			}
		</script>
	</head>
	<body>
	<% if(err){
	%>	<h1>Error</h1>
		<p><%=errMessage%></p>
	<% }else{ %>
	Controller id: <select>
	<% var i=0; for(i=0;i<doc.length;i++){ %>
			<option value="<%=doc[i]._id%>"> <%=doc[i]._id%> </option>
	<% } %>
	</select>
		<button onclick="addCommandToQueue(1)">
			On
		</button>
		<button onclick="addCommandToQueue(0)">
			Off
		</button>
		<%}%>
	</body>
</html>