<div ng-init="setup()">
<div class="container">
  <div class="card" ng-repeat="house in houses" id="{{house._id}}">
	<div class="card-title center">
		<h4 class="grey-text text-darken-4">{{house.name}}</h4>
			<small class="green-text" ng-if="house.connected">Connected</small>
		<small class="red-text" ng-if="!house.connected">Disconnected</small>
	   <hr />
	</div>
    <div class="card-content">
	   <div class="row">
		   <h6 class="col m1">Switches</h6> 
			<select name="controller" class="col m6" style="display:block">
				<option>None</option>
				<option ng-repeat="controller in house.controllers" value="{{$index}}">{{controller.name}}</option>
			</select>
			<button ng-if="house.connected" class="btn col m2" ng-click="toggleSwitch(house)">Toggle</button>
			<button ng-if="!house.connected" class="btn col m2 disabled offset-m1">Toggle</button>
		</div>
    </div>
  </div>
   </div>   
</div>
